database: /s/jawar/g/nobackup/alex/data

n_epochs:
    - 25
    - 50
    - 75
    - 100

learning_rate:
    - 0.0005
    - 0.001
    - 0.005

conv_filters:
    - [256]
    - [256, 512]
    - [256, 256, 512]
    - [256, 256, 512, 512]

dense_filters:
    - [256]